# PyInstaller
build/
dist/
*.spec
# Ignore graph_data_collector build
graph-data-collector-v1.0
graph-data-collector-v1.0.zip

# Ignore real configs
Config/*.json

# Allow template + graph api config
!Config/*.template.json
!Config/graph_apis.json

# Runtime data
logs/
output/
Output/


# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.env/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db